<style type="text/css">
  .ScrollRef .multiselect-container{
    max-height: 350px;
    overflow-y: auto;
  }

</style>

<script type="text/javascript">
  $(document).ready(function() {
    $('#example-post').multiselect({
      includeSelectAllOption: true,
      enableFiltering: true,
      onChange: function(option, checked, select) {
        var client = $(option).val();
        if ( checked ){
          var html = "<span style='margin-right: 5px;' class='badge' id="+ client + ">" + $(option).text() + "</span>";
          $('#selected_clients').append(html);
          $('#sent_email_button').attr('disabled', false);
        }else{
          $('#'+  client + '').remove();
          if( $('#selected_clients').is(':empty') ){
            $('#sent_email_button').attr('disabled', true);
          }
        }
      },
      onSelectAll: function() {
        $('#selected_clients').html('');
        $("#example-post option").each(function()
        {
          var client = $(this).val();
          var html   = "<span class='badge' id="+ client + ">" + $(this).text() + "</span>";
          $('#selected_clients').append(html);
        });
        $('#sent_email_button').attr('disabled', false);
      },
      onDeselectAll: function() {
        $('#selected_clients').html('');
        $('#sent_email_button').attr('disabled', true);
      }
    });
  });
</script>
<%= link_to '[Back to Templates]', templates_path %>
<br/><br/>
<div class='row'>
  <div class="col-sm-8">
    <table class="table table-striped table-bordered">
      <tbody>
      <tr>
        <td><b>Subject:</b></td>
        <td><%= @template.subject%></td>
      </tr>
      <tr>
        <td><b>Sender:</b></td>
        <td><%= @template.from %></td>
      </tr>
      <tr>
        <td><b>Content:</b></td>
        <td>
          <%= @template.html.html_safe %>
          <%#= text_area_tag('html', @template.html.html_safe, size: '80x18', placeholder: 'Enter Html here', style: 'resize: none;', readonly: true) %>
        </td>
      </tr>
      </tbody>
    </table>
    You want to edit? <%= link_to 'click here', edit_template_path(@template), class: 'btn btn-primary btn-sm btn-round' %>
  </div>

  <div class="col-sm-4" style="height: 463px; position: relative;">
    <%= form_for(@template, url: send_mail_confirm_template_path(@template), method: 'post', :html => {:class => 'form-inline' }) do |f| %>
        <div class="form-group">
          <label>Send To: </label>
          <div  class="ScrollRef">
            <%= select_tag 'multiselect[]', options_for_select(@clients.collect {|p| [ p[:email], p[:id] ] }), id: 'example-post', class: 'form-control', style: 'width:30%;', multiple: 'multiple' %>
          </div>
        </div>
        <div class="form-group" style="position:absolute; bottom: 0px; left: 15px;">
          <div>
            <%= f.submit 'Send Email', id: 'sent_email_button', :class => 'btn btn-primary btn-sm', data: { confirm: 'Are you sure to send email?' }, disabled: true %>
          </div>
        </div>
    <% end %>
    <div id='selected_clients' class="emailslistspan" style="width: 100%; margin: 10px 0 0 0; height: 344px; overflow-y: auto;"></div>
  </div>
</div>
