= link_to 'Templates', templates_path, class: 'btn btn-primary btn-sm pull-right'
= link_to 'Import Clients', new_client_path, class: 'btn btn-primary btn-sm pull-right', style: 'margin-right: 2px;'
%br/
%br/
%div
  %table.table.table-striped.table-bordered.list-data-table{:cellspacing => '0', :width => '100%'}
    %thead
      %th Sr#
      %th Full Name
      %th Email
      %th Company
      %th Phone
    %tbody
      - @clients.each_with_index do |client,index|
        %tr
          %td= "#{index+1}"
          %td= "#{client.full_name}"
          %td= "#{client.email}"
          %td= "#{client.company}"
          %td= "#{client.phone}"

:javascript
  $(document).ready(function(){
      $('.list-data-table').DataTable({
        "pageLength": 50
       });
  })
