= stylesheet_link_tag 'animate.css', 'custom.css', 'nprogress.css', 'font-awesome.css'
-#= javascript_include_tag 'bootstrap-datepicker', 'date_format'

-##wrapper
-#  %h3{:style => "text-align: center;padding-bottom: 18px;"} Sign In
-#  #login_area_bg
-#    .registration_form_css
-#      = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal' }) do |f|
-#        .form-group
-#          %label.control-label.col-sm-2{:for => "email"} Email:
-#          .col-sm-10
-#            = f.text_field :email, class: "form-control", :required => true
-#        .form-group
-#          %label.control-label.col-sm-2{:for => "email"} Password:
-#          .col-sm-10
-#            = f.password_field :password, class: "form-control"
-#        .form-group
-#          %div{:style => "margin-left: 19%;"}
-#            = f.button :submit, "Sign in", :class => 'btn-primary'
-#        .form-group
-#          .col-sm-10
-#            = render "devise/shared/links"
%body.login
  %div
  %a#signin.hiddenanchor
  %a#signup.hiddenanchor
  .login_wrapper
    .animate.form.login_form
      %section.login_content
        = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
          %h1 Login Form
          %div
            = f.text_field :email, class: 'form-control', :required => true, :placeholder => 'email'
          %div
            = f.password_field :password, class: 'form-control', :placeholder => 'Password', :required => true
          %div
            = f.button :submit, 'Log in', :class => 'btn btn-default submit'
            - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
              -#%a.reset_pass{:href => ''} Lost your password?
              = link_to 'Lost your password?', new_password_path(resource_name), class: 'reset_pass'
          .clearfix
          .separator
            %p.change_link
              New to site?
              %a.to_register{:href => '#signup'} Create Account
            .clearfix
            %br/
            %div
              %h1
                %i
                  %img{:alt => 'Mountain View', :src => '/assets/AppsGenii-Technologies.png', :style => 'width:40px;height:40px;'}/
                  %span SastiSawari
              %p ©2017 All Rights Reserved. SastiSawari ! make ease for traveling. Privacy and Terms
    #register.animate.form.registration_form
      %section.login_content
        = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
          %h1 SignUp Form
          %div
            = f.text_field :first_name, class: 'form-control', :required => true, :placeholder => 'First name'
            = f.text_field :last_name, class: 'form-control', :required => true, :placeholder => 'Last name'
          %div
            = f.text_field :email, class: 'form-control', :required => true, :placeholder => 'Email'
          %div
            = f.password_field :password, class: 'form-control', :placeholder => 'Password', :required => true
          %div
            = f.password_field :password_confirmation, class: 'form-control', :placeholder => 'Confirm Password', :required => true
          %div
            = f.select :role_id, Role.all.map { |r| [r.name, r.id] }, prompt: 'Select role'
          %div
            = f.button :submit, 'Sign Up', :class => 'btn btn-default submit'
          .clearfix
          .separator
            %p.change_link
              Already member?
              %a.to_register{:href => '#signin'} Log in
            .clearfix
            %br/
            %div
              %h1
                %i
                  %img{:alt => 'Mountain View', :src => '/assets/AppsGenii-Technologies.png', :style => 'width:40px;height:40px;'}/
                  %span SastiSawari
              %p ©2017 All Rights Reserved. SastiSawari ! make ease for traveling. Privacy and Terms